
<mat-card class="example-card non-select">
    <mat-card-header>
      <h2 class="subheader">{{data?.pokeName.name | uppercase}}</h2>
      <hr>
    </mat-card-header>
    <img mat-card-image [src]="data?.pokeImg.front_default">
    <mat-card-content>
      <div>
        <span class="typeIcon2"><strong>Types: </strong></span>
        <div *ngFor="let detail of data?.pokeType" class="{{detail.type.name}} typeIcon">
          <span>{{detail.type.name | titlecase}}</span>
        </div>
      </div>
      <div>
          <span class="typeIcon2"><strong>Abilities: </strong></span>
          <div *ngFor="let ability of data?.pokeAbility" class="typeIcon2">
              <span class="typeIcon3">{{ability.ability.name | titlecase}}</span>
            </div>
      </div>
    </mat-card-content>

  </mat-card>