.flex-container {
    display: flex;
    flex-wrap: nowrap;
    padding: auto;
    /* background-color: DodgerBlue; */
  }
  
  .flex-container > div {
    /* background-color: black; */
    width: 10px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .x1 {
      /* background-color: blue; */
      /* width: auto;
      padding: auto;
      margin-left: 20px; */
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;;
      overflow: hidden;
      display: inline-block;
      /* padding: 5px 5px 5px 5px; */
      /* float: left; */
      text-align: center;
  }

  .default {
      margin-top: 30px;
      margin-bottom: 30px;  
      padding: auto;    
      text-align: center;
  }

span {
    align-content: center;
    align-self: center;
    text-align: center;
    align-self: center;
}

a {
  text-decoration: none;
}

.logo {
  height: 65px;
  float: left;
  /* margin-bottom: 40px; */
  padding: 5px 5px 5px 5px;
  vertical-align: middle;
}

.non-select {
  user-select: none;
}

/* .nav-height {
  height: 100px;;
} */