<div class="wrapper non-select">
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav-height">
      <a class="navbar-brand" href="#"><h2>
          <img class="logo" src="https://cdn.bulbagarden.net/upload/4/4b/Pok%C3%A9dex_logo.png">
      </h2></a>

    <div class="x1 default" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="searchtab" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="searchtab">Search</button> -->
      </form>
    </div>
        
    <!-- DropDownList -->
    <div class="select">
        <select name="types" (change)="displayFilter()" [(ngModel)]="listTypeUrl">
            <option selected value="">All Pokemon</option>
            <option *ngFor="let type of pokemonTypeList" [value]="type.url">
              {{type.name | titlecase}}            
            </option>
            <!-- <option (onchange)="displayFilter('')"></option> -->
        </select>
      </div>
  </nav>
</div>

<!-- Main -->

<ng-container *ngIf = "isFiltered == 0; then main; else filteredData">
</ng-container>

<ng-template #main>
  <div class="default">
    <mat-card cols=5 *ngFor="let item of pokemondata | filter: searchText" class="mat-list-option x1 non-select">
      <mat-card-header (click)="getPokeDetails(item.url)">
        <mat-card-title>
        </mat-card-title>
        <mat-card-subtitle>
          <h3>
            <strong>#{{getId(item.url)}}: {{item.name | titlecase}}</strong>
            <span><img [src]="getImg(item.url)"></span>
          </h3>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</ng-template>

<ng-template #filteredData>
  <mat-card *ngFor="let item of pokemonDisplayFilter" class="mat-list-option x1 non-select">
    <mat-card-header (click)="getPokeDetails(item.pokemon.url)">
      <mat-card-title>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>
          <strong>#{{getId(item.pokemon.url)}}: {{item.pokemon.name | titlecase}}</strong>
          <span><img [src]="getImg(item.pokemon.url)"></span>
        </h3>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</ng-template>
