<div class="wrapper non-select">
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav-height">
      <a class="navbar-brand" href="#"><h2>
          <img class="logo" src="https://cdn.bulbagarden.net/upload/4/4b/Pok%C3%A9dex_logo.png">
      </h2></a>

    <div class="x1 default" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="default">
    <mat-card *ngFor="let item of pokemondata" class="mat-list-option x1 non-select">
      <mat-card-header (click)="onClick.emit(getPokeDetails(item.url))">
        <mat-card-title>
            <!-- <a href="#"><img src="{{getImg(item.url)}}" alt=""></a> -->
        </mat-card-title>
        <mat-card-subtitle>
          <h3>
            <strong>#{{getId(item.url)}}: {{item.name | titlecase}}</strong>
            <!-- <strong><img src="{{getImg(item.url)}}" alt=""></strong> -->
            <span><img src="{{getImg(item.url)}}" alt=""></span>
          </h3>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>